<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace = "com.fmr.customer.mapper.CustomerMapper">

<resultMap type="com.fmr.customer.model.Customer" id="customer">
<result property = "ssn" column = "ssn"/>
<result property = "first_name" column = "first_name"/>
<result property = "last_name" column = "last_name"/>
<result property = "dob" column = "dob"/>
<result property = "gender" column = "gender"/>
</resultMap>
<!-- <cache type="org.mybatis.caches.ignite.IgniteCacheAdapter" flushInterval="200" /> -->
<select id="findAll" resultMap="customer" useCache="true">
select ssn,dirst_name,last_name,dob,gender from customer
</select>

<select id="getCustomerBySSN" resultMap="customer">
SELECT ssn,dirst_name,last_name,dob,gender FROM customer WHERE ssn = #{ssn}
</select>

<update id="updateBySSN" >
UPDATE 
 		customer SET first_name=#{customer.first_name},
 		last_name=#{customer.last_name},dob=#{customer.dob},
 		gender=#{customer.gender} 
WHERE   ssn = #{customer.ssn}
</update>

<delete id="deleteBySSN">
DELETE 
		FROM customer WHERE ssn = #{ssn}
</delete>

<insert id="insert" >
insert into 
			customer(ssn,first_name,last_name,dob,gender) 
			values(#{customer.ssn},#{customer.first_name},
			#{customer.last_name},#{customer.dob},#{customer.gender})
</insert>

</mapper>